@using Tarea6_7.Data
@using Tarea6_7.Servicios

@inject IServicioTesoros TS

<div class="mr-2">


<form @onsubmit="HandleSubmit" >
    <label for="nombre">Nombre</label>
    <input @bind-value="tesoro.Nombre" required type="text" name="nombre" id="nombre" class="form-control">
    <label for="fecha">Fecha</label>
    <input @bind-value="tesoro.Fecha" required type="date" name="fecha" id="fecha" class="form-control">
    <label for="peso">Peso (Lb)</label>
    <input @bind-value="tesoro.Peso" required type="number" name="peso" id="peso" class="form-control">
    <label for="valor">Valor</label>
    <input @bind-value="tesoro.Valor" required type="number" name="valor" id="valor" class="form-control">
    <label for="lugar">Lugar</label>
    <input @bind-value="tesoro.Lugar" required type="text" name="lugar" id="lugar" class="form-control">
    <label for="lon">Longitud</label>
    <input @bind-value="coord.Longitud" required type="number" step="any" name="lon" id="lon" class="form-control">
    <label for="lat">Latitud</label>
    <input @bind-value="coord.Latitud" required type="number" step="any" name="lat" id="lat" class="form-control">
    <label for="iref">URL de Referencia</label>
    <input @bind-value="tesoro.UrlRef" type="text" name="iref" id="iref" class="form-control">
    <label for="descricion">Descripción</label>
    <textarea @bind="tesoro.Descripcion" required name="descripcion" id="descripcion" cols="30" rows="4" class="form-control"></textarea>
    <br>
    <input type="submit" value="Agregar" class="btn btn-success">
</form>

</div>

@code 
{
    [Parameter]
    public Guid UsuarioId {get; set;}
    private Tesoros tesoro = new Tesoros
    {
        Id = Guid.NewGuid(),
        Fecha = DateTime.Today
    };
    private Coordenadas coord = new Coordenadas
    {
        Id = Guid.NewGuid()
    };

    private async Task HandleSubmit()
    {
        tesoro.Coordenadas = coord;
        var status = await TS.SetTesoros(tesoro);
        if(status){
            tesoro = new Tesoros
            {
                Id = Guid.NewGuid(),
                Fecha = DateTime.Today
            };
            coord = new Coordenadas
            {
                Id = Guid.NewGuid()
            };
            StateHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            if(UsuarioId != null){
                coord.Tid = tesoro.Id;
                coord.UsuarioId = UsuarioId;
                tesoro.UsuarioId = UsuarioId;
            }
        }
    }
}